.calculator-screen-div {
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: rgb(55, 53, 52);
}

/* .calculator-container-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  border: 1px solid white;
} */

/* .calculator-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 50%;
  border: 1px solid white;
box-shadow: 4px 4px 12px rgb(240, 209, 209);
  background-color: rgb(201, 194, 184);
} */

/* .calculator-functions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculation {
  height: 20px;
  width: 20px;
  border-radius: 20%;
  background-color: cornflowerblue;
} */

.calculator{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator input[type="button"] {
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
}
.result {
    margin-bottom: 10px;
    font-size: 8px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}