.calendar-screen-container {
  height: 100%;
  background-color: white;
}

.calendar-body-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  font-weight: bolder;
  color: black;
  font-family: sans-serif;
  background-color: rgb(223, 224, 230);
  box-shadow: 0px 0px 10px rgb(45, 62, 176);
}

.calendar-navbar-date {
  display: flex;
  gap: 4px;
}

.calendar-body {
  height: 100%;
  font-weight: bolder;
}

.calendar-date-container {
  display: flex;
  flex-wrap: wrap;
}

.week-days {
  font-size: 14px;
}

.today-date {
  background-color: rgb(226, 43, 156);
}

.calendar-date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 26.9px;
  color: black;
  border: 1px solid rgb(212, 225, 226);
}

.weekdays-container {
  display: flex;
  gap: 4px;
  background-color: rgb(26, 26, 137);
  color: white;
}

.day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.previous-month-button {
  width: 12px;
  height: 12px;
  background-color: white;
}

.monthScroll-button {
  width: 12px;
  height: 12px;
  padding: 4px;
}

.rotate-180 {
  rotate: 180deg;
}

.otherMonths-highlight{
color: rgb(213, 210, 210);
}

.today-highlight{
  color: red;
}