.calendar-screen-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(59, 59, 61);
}

.calendar-body-container{
    height: 100%;
    background-color: cadetblue;
}

.calendar-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    font-weight: bolder;
    box-shadow: 0px 0px 10px rgb(83, 112, 114);
    background-color: rgb(68, 120, 123);
}

.calendar-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: rgb(95, 133, 136);
}

.calendar-date-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.week-days{
    font-size: 14px;
}

.today-date{
    background-color: blueviolet;
}

.month-class{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    color: black;;
}

.calendar-date{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(22, 132, 139);
}