.gallery-screen-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #323232;
  }
  
  .imagesContainerDiv{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: rgb(10,10,10);
  }

  .gallery-div {
    height: 100%;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .picture-container {
    display: flex;
    gap: 2px;
  }
  
  .pic{
    width: 59px;
    height: 78px;
    border: 2px solid transparent;
  }

  .pic-selected {
    border-color: white;
  }


  