.menu-screen-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menuItems-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .app-container {
    padding: 8px;
    border: 2px solid transparent;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: white; */
  }
  
  .iconClass{
    width: 40px;
  }
  
  .selected {
    border-radius: 8px;
    border-color: white;
  }
  
  .music {
    background-color: rgb(242, 57, 88);
  }
  
  .music-icon{
    width: 28px;
  }
  .torch {
    background-color: white;
    rotate: 45deg;
  }
  