.mobile-display-container {
  width: auto;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: black;
  box-shadow: 0px -2px 1px #b3afc7;
  color: white;
}

.speaker-container {
  height: 48px;
}

.speaker {
  background-image: url("Icons/net.png");
  background-size: 6px;
  width: 68px;
  height: 6px;
  background-color: rgb(10, 10, 10);
  border-radius: 20px;
  box-shadow: 0px 0px 1px 1px black inset,
    0px 0px 0px 1px rgba(200, 200, 200, 0.1);
}

.LCD-container {
  padding: 0 8px;
}

#unlockMessage{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  align-self: center;
}

#lcd {
  height: 240px;
  width: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.brand-animation-container{
  height: 136px;
  overflow: hidden;
}

#brand-animation{
  height: 139px;
  border: none;
  margin: -1px -1px
}

.lcd-white{
  background-color: white;
}

.brand-logo {
  height: 44px;
}

.nokia-icon {
  fill: #727272;
  height: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  gap: 3px;
}

.navbar-contents{
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.signal {
  display: flex;
  align-items: flex-end;
  gap: 1px;
}

.tower {
  background-color: white;
  width: 3px;
}

.tower-1 {
  height: 4px;
}
.tower-2 {
  height: 6px;
}
.tower-3 {
  height: 8px;
}
.tower-4 {
  height: 10px;
}
.tower-5 {
  height: 12px;
}

.sim-card{
    color: black;
    display: flex;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sim-cornor{
    display: block;

}

.corner-triangle {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid white;
  border-left: 3px solid transparent;
  border-right: 3px solid white;
}

.left-rectangle{
    height: 8px;
    width: 4.8px;
    background-color: white;
    border-bottom-left-radius: 2px;
}

.right-rectangle{
    height: 13px;
    width: 10px;
    background-color: white;
    padding: 0 3px;
    font-size: 11px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.screen-lock-icon{
    gap: 8px;
    rotate: 45 degree;
    transform: rotate(45deg);
}

.icon-top{
    width: 8px;
    height: 4px;
    background-color: white;
    border-radius: 1px;
}

.icon-top-inner{
    width: 4px;
    height: 2px;
    background-color: black;
}

.icon-mid{
    width: 4.3px;
    height: 4px;
    background-color: white;
    border-radius: 0px 0px 1px 1px;
    margin-left: 1.5px;

}

.icon-bottom{
    width: 2px;
    height: 4px;
    background-color: white;
    border-radius: 0px 0px 2px 2px;
    margin-left: 2.5px;

}

.battery-left{
    width: 2px;
    height: 6px ;
    background-color: white;
    border-radius: .5px 0px 0px .5px;
}

.battery-outer-body{
    height: 11px;
    background-color: white;
    border-radius: 2px;
    padding: 2px;

}

.battery-inner-body{
    width: 14px;
    height: 8px;
    background-color: white;
    border: 2px solid black;
}

.lock-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.date-time {
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.time {
  font-size: 48px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.date {
  color: white;
}


.hide-taking-space{
  opacity: 0;
}

.idle-screen{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.app-screen-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}

.apps-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
}

.apps-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 36px;
  width: 36px;
  border-radius: 25px;
}

.icon-container{
  padding: 8px;
  border: 2px solid transparent;
}

.selected{
  border-color: white;
  border-radius: 4px;
}

.call-log{
  background-color: #0fb00f;
}

.music{
  background-color: rgb(242, 57, 88);

}

.message{
  background-color: #4048dc;
}

.torch{
  background-color: white;
  rotate: 45deg;

}

.music-player-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-player {
  height: 81.5px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  border-radius: 8px;
}

.audio{
  height: 28px;
  max-width: 120px;

}

.message-div{
  text-align: center;
  height: 184.5px;
}


.backText{
  flex-direction: row-reverse;
}

.setting-screen-div{
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wallpaper-screen-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.select-wallpaper-text{
  margin: 0;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom-navbar{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 8px 16px;

}

.bottom-navbar-color{
  background-color: rgba(0, 0, 0, 0.5);
}

.theme-container{
  display: flex;
  flex-direction: column;

} 

.theme{
  background-color: rgba(5, 5, 5, 0.3);
  border: 2px solid transparent;
  padding: 4px 8px;

}

.wallpaper-border{
  border-color: white;
}

.theme1 {
  background-image: url('wallpaper/grass.jpg');
}

.theme2 {
  background-image: url('wallpaper/wp1.jpg');
}
.theme3 {
  background-image: url('wallpaper/wp2.jpg');
}



.lcd-off-wallpaper {
  background-color: rgb(10, 10, 10);
}

