.gallery-screen-div {
  height: 100%;
  justify-content: space-between;
}

.snakeGame-body {
  background-color: rgb(21, 20, 23);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-game-over-body {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-weight: bolder;
}

.snakeGameOverText {
  width: 100%;
  height: 120px;
  background-image: url("Icons/download.png");
  background-size: cover;
}

.yourScore {
  width: 100%;
  height: 100%;
}

.highestScore {
  width: 100%;
  height: 100%;
}

.gridContainer {
  display: flex;
  flex-direction: column;
}

.snakeGame-box-container {
  display: flex;
}

.snakeGame-box {
  padding: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.snake-color {
  background-color: rgb(202, 55, 106);
}

.food-booster {
  background-color: rgb(47, 57, 198);
}

.snake-food {
  background-color: rgb(69, 189, 30);
}

.snakeGame-navbar {
  width: 184px;
  height: 20px;
  background-color: rgb(77, 69, 93);
  color: white;
  padding: 8px;
}
