body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.mobile-body{
    background-color: #918ca2;
    border-radius: 44px;
    padding: 12px 12px 10px;
}

.mobile-container{
    box-shadow: 0px 10px 10px 0px #484359;
    border-radius: 28px;
}

