body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.mobile-body{
    background-color: #747088;
    height: 610px;
    width: 238px;
    border-radius: 40px;
    
}

.mobile-display{
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: black;
    background-image: image("");
}
